/* document styles */
html, body {
  font-size: 18px;
  font-family: Helvetica;
  color: white;
}

h1 {
  font-size: 2rem;
}

h1, h3 {
  font-weight: bold;
  text-transform: uppercase;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/* Header */

header {
  background-color: black;
}

header .container {
  display: flex;
  align-items: center;
  padding: .66rem 0 .66rem 0.5rem;
}

header img {
  height: 1.5rem;
  width: auto;
  padding-right: 1rem;
}

header span {
  padding: 0.66rem;
  text-transform: uppercase;
}

/* Main Banner */

.main-banner {
  height: 25rem;
  background-image: url("../images/moto.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.announcement {
  background-color: black;
  padding: 2rem 3rem;
  width: 20rem;
  top: 9rem;
  position: relative;
}

.announcement h3 {
  padding-bottom: 0.25rem;
}

/* Nav Section */

.menu {
  display: none;
}

.nav-section {
  background-color: firebrick;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0.75rem 0;
}

/* Product Section */

.product-grid,
.info-section {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.product {
  margin: 3rem 0;
  width: 30%;
}

.product-image {
  padding: 2rem 0;
  height: 9rem;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid black;
}

.product img {
  max-width: 8rem;
}

.product span {
  background-color: black;
  text-align: center;
  width: 100%;
  padding: 0.5rem 0;
  display: block;
}

/* Info Section */

.info-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 4rem;
}

.info {
  width: 35%;
}

.black-box {
  background-color: black;
  padding: 1rem 2rem;
  display: block;
}

.white-box {
  color: black;
}


/* Footer Section */

footer {
  background-color: black;
  padding: 5rem 0;
  margin-top: 4rem;
}

/* MEDIA */

@media screen and (max-width: 1024px){

    .glasses {
      display: none;
    }

    .product {
      width: 47%;
    }

    .navigation {
      display: none;
    }

    .menu {
      display: flex;
      justify-content: center;
    }

    header {
      font-size: 14px;
}


@media screen and (max-width: 470px) {
  .announcement {
    padding: 1rem 2rem;
    width: 100%;
    margin-top: 10rem;
  }

  .announcement h3 {
    font-size: 0.75rem;
  }

  .announcement h1 {
    font-size: 1rem;
  }

  .main-banner {
    height: 15rem;
  }

  .watch {
    display: none;
  }

  .product {
    width: 90%;
  }

  .product-grid {
    justify-content: center;
  }

  .info-section {
    display: block;
  }

  .info {
    width: 90%;
    margin: 0.5rem auto;
  }

  footer .container {
    align-items: center;
    justify-content: center;
    }
}
